#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#filter {
  padding: 8px 8px 0;
  display: flex;
  mat-form-field {
    width: 50%;
  }
}

#tickets{
  flex: 1;
  overflow: auto;
}

.active-link {
  background-color: rgb(230, 230, 230);
}

.item-row {
  display: flex;
  align-items: center;
}

.item-row a {
  margin-left: 8px;
}
