<div id="container" *ngIf="(ticket$ | async) as ticket">
  <div class="header">
    <div class="summary">
      <div class="subject">Subject: {{ ticket.subject }}</div>
      <div class="created-on">Created on: {{ ticket.createdAt | date }}</div>
    </div>
    <app-ticket-actions 
    [ticket]="ticket"
    (resolved)="loadTicket()"
    >
    </app-ticket-actions>
  </div>
  <mat-divider></mat-divider>
  <app-ticket-messages class="app-messages"
  *ngIf="ticket.id"
  [ticketId]="ticket.id"
  [disabled]="ticket.status === 'resolved'"
  ></app-ticket-messages>
</div>
